{% extends 'base.html' %}

{% load static wagtailcore_tags widget_tweaks i18n %}
{% load wagtailimages_tags %}


{% block content %}
    {% image page.image original as page_image %}

<div class="jumbotron jumbotron-fluid" style="background-image: url('{{ page_image.url }}');background-size: cover;height: 500px;">
    <div class="circle-title blog-title">
        <p>{% include_block page.image_title %}</p>
    </div>
</div>

<div class="container">
  <p>{{ self.intro|richtext }}</p>
  <div class="row">
    <div class="col-md-7">
        <form action="{% pageurl page %}" method="POST">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-12">
                {{ form.as_p }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-primary contact-button">{% trans 'Submit' %}</button>
            </div>
          </div>
        </form>
    </div>
    <div class="col-md-5">
        <h3>{% trans 'Our Place' %}</h3>
        <span>{% trans 'Street Address' %}</span>
        <br>
        <span>{% trans 'Rua Nicolau dos Reis Lobato, Colmera-Díli' %}</span>
        <hr>
        {{ self.body }}
    </div>
  </div>
</div>

{% endblock %}
