{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" type="image/png" href="{% static 'images/logo_pykafe.png' %}"/>
        <!-- Bootstrap CSS -->
        <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'wagtailcodeblock/css/prism.min.css' %}" />

        <!-- Optional JavaScript -->
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.slim.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'wagtailcodeblock/js/prism.min.js' %}" ></script>

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pykafe.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% include 'includes/header.html' %}
        {% wagtailuserbar %}

        <div class="base_content">
        {% block content %}{% endblock %}
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/pykafe.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        {% include 'includes/footer.html' %}

        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('{% url "sw_js" %}').then( (registration) => {
                        // Registration was successful
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                     }, (err) => {
                    // registration failed :(
                        console.log('ServiceWorker registration failed: ', err);
                    });
                });
            }
        </script>

    </body>
</html>
