{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-basepage{% endblock %}
{% block content %}
    {% image page.image original as page_image %}
    <div class="jumbotron jumbotron-fluid" style="background-image: url('{{ page_image.url }}');background-size: cover;height: 500px;"></div>
    <div class="container">
        <h2>{% include_block page.body %}</h2>
        <p>{{ page.description|richtext }}</p>
    </div>
{% endblock %}
