{% load pykafe %}
{% load wagtailcore_tags i18n %}

<nav class="navbar navbar-expand-lg header">

     <div class="container navbar-header">
         {% get_site_root as home %}
         <a class="navbar-brand" href="{% pageurl home %}">
             {% include 'includes/logo_colours.html' %}
         </a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
             <span class="navbar-toggler-icon"></span>
             <span class="navbar-toggler-icon"></span>
         </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          {% for page in home.get_children %}
              {% if page.live %}
                  <li class="nav-item {% if self.url_path|startswith:page.url_path %} active {% endif %}">
                  <a class="navbar-brand" href="{% pageurl page %}">
                      {{ page.title }}
                  </a>
                  </li>
              {% endif %}
          {% endfor %}
          {% if request.user.is_active %}
          <li class="nav-item">
            <a class="navbar-brand" href="{% url 'konversa' %}">
                {% trans "Konversa" %}
            </a>
          <li>
          {% endif %}
          </ul>
          <!-- 
          <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          -->
          </div>
    </div>
</nav>
