{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="container">
     	<div class="title-activities">
		{{ self.title }}
	</div>
	<div class="card-deck">
		{% for blog in self.blogs %}
		<div class="blog-activities" style="width: 18rem;">
		  <div class="blog-body">
			<h5 class="blog-title">{{ blog.title }}</h5>
			{% image blog.image fill-300x200 as img %}
			<img src="{{ img.url }}" class="blog-img-top" alt="{{ img.alt }}">
			<p class="blog-text">{{ blog.description | richtext }}</p>
		    <a href="{% pageurl blog %}" class="btn btn-primary">More Details</a>
		  </div>
		</div>
		{% endfor %}
	</div>
</div>
