{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load i18n %}

<div class="container">
    <div class="row">
        <div class="col-md-12 title-activities">
            <p>{{ self.title }}</p>
        </div>
    </div>
    <div class="row">
    {% for blog in self.blogs %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-title">
                    {{ blog.title }}
                </div>
                {% image blog.image fill-300x200 class="card-img-top" %}
                <div class="card-body">
                    <p class="card-text">{{ blog.description |safe|truncatewords:"50"|linebreaks|richtext }}</p>
                    <a href="{% pageurl blog %}" class="btn-button">{% trans 'More Detail' %} >></a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
