{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load i18n %}
{% load static wagtailcodeblock_tags %}

<div class="container">
    <div class="row">
        {% get_current_language as LANGUAGE_CODE %}
        {% if self.languages ==  LANGUAGE_CODE  %}
        <div class="col-md-4">
            {% for block in self.pages %}
            {% for page in block.body %}
            <h1>{{ page.value.category_type }}</h1>
            {% endfor %}
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link {% if self.pages.0.id == block.id %} active {% endif %}" id="v-pills-{{ block.id }}-tab" data-toggle="pill" href="#{{ block.id }}" role="tab" aria-controls="v-pills-{{ block.category }}" aria-selected="false">
                    <p>{{ block.category }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-8">
            <button class="btn btn-success switching-theme" id="theme_text" onclick="switching_theme()">Dark mode</button>
            <script>
                function switching_theme() {
                    var element = document.body;
                    var toggle_text = document.getElementById("theme_text");
                    if (toggle_text.innerHTML === "Dark mode") {
                      toggle_text.innerHTML = "Light mode";
                    } else {
                      toggle_text.innerHTML = "Dark mode";
                    }
                    element.classList.toggle("dark-theme");
                }
            </script>
            {% for block in self.pages %}
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade {% if self.pages.0.id == block.id %} show active {% endif %}" id="{{ block.id }}" role="tabpanel" aria-labelledby="{{ block.id }}">
                    {% for page in block.body %}
                    <div align="{{ page.value.align }}">
                        <h1>{{ page.value.category_type }}</h1>
                    </div>
                    {% endfor %}
                    <h3>{{ block.category }}</h3>
                    <div class="horizontal-line"></div>
                    {% for page in block.body %}
                    <div align="{{ page.value.align }}">{{ page.value.text|richtext }}</div>
                    {% if page.block_type == 'code' %}
                    {% if page.value.url %}
                    <div class="live-demo">
                        <a href="{{ page.value.url }}" target="_blank" rel="nofollow" class="btn btn-success">{% trans 'Live Demo' %}</a>
                    </div>
                    {% endif %}
                    {% spaceless %}
                    {% load_prism_theme %}
                    {% for key, val in page.value.code.items %}
                    {% if key == "language" %}
                    <script>
                        language_class_name = 'language-{{ val }}';
                    </script>
                    {% endif %}
                    {% if key == "code" %}
                    <pre class="line-numbers" align="{{ page.value.align }}">
                        <code id="target-element-current">{{ val }}</code>
                    </pre>
                    <script>
                        var block_num = (typeof block_num === 'undefined') ? 0 : block_num;
                            block_num++;
                            document.getElementById('target-element-current').className = language_class_name;
                            document.getElementById('target-element-current').id = 'target-element-' + block_num;
                    </script>
                    {% endif %}
                    {% endfor %}
                    {% endspaceless %}
                    {% endif %}
                    {% if page.block_type == 'table' %}
                    <div align="center">
                        {% include_block page %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <script>
                        window.addEventListener('load', (event) => {
                            var id_list = [];
                            {% for block in self.pages %}
                                id_list.push("{{ block.id }}")
                            {% endfor %}
                            {% for block in self.pages %}
                            $('a#v-pills-{{ block.id }}-tab').on('click', function (e) {
                                id_list.forEach(function(id){
                                    var id_active = "v-pills-"+id+"-tab";
                                    if({{ block.id }} === parseInt(id)){
                                        document.getElementById(id_active).className = "nav-link active";
                                        document.getElementById(id).className = "tab-pane fade show active";
                                    }else{
                                        document.getElementById(id_active).className = "nav-link";
                                        document.getElementById(id).className = "tab-pane fade";
                                    }
                                })
                            })
                            {% endfor %}
                        })
                    </script>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
