{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load i18n %}
{% load static wagtailcodeblock_tags %}
    <style>
        .demo_view {
            width: 100%;
            text-align: right;
            position: relative;
            top: 7px;
        }
        a.demo {
            color: #fff;
            font-size: 13px!important;
            padding: 3px 10px;
            border: 0px solid var(--yellow-2);
            position: relative!important;
            right: unset!important;
            margin: -6px 17px 0px 0px!important;
        }
        a.demo {
            background: var(--yellow-2);
        }
        table {
            border-collapse: collapse;
        }
        table, td, th {
            border: 1px solid #dee2e6;
        }
        .flex-column {
            height: 34px;
        }
        .categories-column {
            background-color: var(--blue-1);
            padding-top: 15px;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-4 categories-column">
                {% for block in self.pages %}
                    {% for page in block.body %}
                        <h3>{{ page.value.category_type }}</h3>
                    {% endfor %}
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link {% if self.pages.0.id == block.id %} active {% endif %}" id="v-pills-{{ block.id }}-tab" data-toggle="pill" href="#{{ block.id }}" role="tab" aria-controls="v-pills-{{ block.category }}" aria-selected="false">
                            <p>{{ block.category }}</p>
                        </a>
                    </div>
                {% endfor %}
             </div>
             <div class="col-md-8">
                {% for block in self.pages %}
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade {% if self.pages.0.id == block.id %} show active {% endif %}" id="{{ block.id }}" role="tabpanel" aria-labelledby="{{ block.id }}">
                            {% for page in block.body %}
                                <div align="{{ page.value.align }}">
                                    <h1>{{ page.value.category_type }}</h1>
                                </div>
                            {% endfor %}
                            <h3>{{ block.category }}</h3>
                            {% for page in block.body %}
                                <div align="{{ page.value.align }}">{{ page.value.text|richtext }}</div>
                                {% if page.block_type == 'code' %}
                                    <div class="demo_view">
                                        <a href="{{ page.value.url }}" target="_blank" rel="nofollow" class="demo">{% trans 'Live Demo' %}</a>
                                    </div>
                                    {% spaceless %}
                                        {# This is ugly, as it'll inject this code for each block, but browsers are smart enough to not load each time. #}
                                        <script src="{% static 'wagtailcodeblock/js/prism.min.js' %}" type='text/javascript'></script>
                                        <link href="{% static 'wagtailcodeblock/css/prism.min.css' %}" rel="stylesheet">
                                        {% load_prism_theme %}
                                        {% for key, val in page.value.code.items %}
                                            {% if key == "language" %}
                                                <script>
                                                    language_class_name = 'language-{{ val }}';
                                                </script>
                                            {% endif %}
                                            {% if key == "code" %}
                                                <pre class="line-numbers" align="{{ page.value.align }}">
                                                    <code id="target-element-current">{{ val }}</code>
                                                </pre>
                                                <script>
                                                    var block_num = (typeof block_num === 'undefined') ? 0 : block_num;
                                                    block_num++;
                                                    document.getElementById('target-element-current').className = language_class_name;
                                                    document.getElementById('target-element-current').id = 'target-element-' + block_num;
                                                </script>
                                            {% endif %}
                                        {% endfor %}
                                    {% endspaceless %}
                                {% endif %}
                                {% if page.block_type == 'table' %}
                                    <div align="center">
                                        {% include_block page %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                                <script>
                                    window.addEventListener('load', (event) => {
                                        var id_list = [];
                                        {% for block in self.pages %}
                                            id_list.push("{{ block.id }}")
                                        {% endfor %}
                                        {% for block in self.pages %}
                                            $('a#v-pills-{{ block.id }}-tab').on('click', function (e) {
                                                id_list.forEach(function(id){
                                                    var id_active = "v-pills-"+id+"-tab";
                                                    if({{ block.id }} === parseInt(id)){ 
                                                        document.getElementById(id_active).className = "nav-link active";
                                                        document.getElementById(id).className = "tab-pane fade show active";
                                                    }else{
                                                        document.getElementById(id_active).className = "nav-link";
                                                        document.getElementById(id).className = "tab-pane fade";
                                                    }
                                                })
                                            })
                                        {% endfor %}
                                    })
                                </script>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
