{% load wagtailcore_tags %}


<div class=" container embed-responsive embed-responsive-16by9">
{% if GOOGLE_MAPS_API_KEY %}
    <iframe
        class="embed-responsive-item"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key={{ GOOGLE_MAPS_API_KEY }}&center={{ value.location_lat }},{{ value.location_long }}&zoom={{ value.zoom }}&q=catalpa" allowfullscreen>
    </iframe>
{% else %}
    <iframe
        class="embed-responsive-item"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC7arOtQOhxhc9ozCnJ5YcuAMI_fJ5UqqA&center={{ value.location_lat }},{{ value.location_long }}&zoom={{ value.zoom }}&q=catalpa" allowfullscreen>
    </iframe>
{% endif %}
</div>

