/* This is custom style for admin styling*/
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff2);
}

@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa_Thin.woff2);
}

body {
    margin: 0px;
    color: #000000c7;
    font-family: 'Montserrat';
}
.logo-2 {
	color: #0bbf71;
	font-size: 44px;
    font-family: 'Comfortaa';
}
.blue-text {
	color: #3e7bad;
	font-weight: 600; 
    font-family: 'Comfortaa';
}
div > .content-wrapper, .wrapper, .nav-wrapper {
    background-color: #052641;
}

nav-wrapper, .nav-wrapper .inner {
    background-color: #052641;
}

.nav-search input {
    background-color: #ffffff;
}
