django-widget-tweaks==1.4.3
Django==3.0.6
django-tracking2==0.5.0
geoip2==2.9.0
django-rosetta==0.9.3
django-leaflet==0.28.3
django-active-users==0.2.2
django-redis==5.2.0
wagtail==2.15.6
wagtail-django-recaptcha==1.0
wagtail-django-simple-captcha==1.0
wagtailcodeblock==1.15.0.0
